/*
Style header element to space and align it, and to set an image and background colour
*/
.user-header {
    display: flex;
    /* Did not fit appropriately at 400px, 800px fit better into the layout */
    height: 700px;
    width: 100%;
    background-color: #54b0b3;
    background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
Align user avatar
*/
img {
  display: flex;
  align-items: center;
}

/*
Space user name and avatar from handle in article element
*/
.tweet-header {
  display: flex;
  justify-content: space-between;
}

/*
Align user name , avatar and handle
*/
.profile {
  display: flex;
  align-items: center;
}

/*
Space avatar image
*/
.avatar {
  margin-right: 10px;
}

/*
Remove background image and colour from specific places when in a computer screen of at least 1024
*/
@media screen and (min-width: 1024px) {
  .user-header {
    background-color: #f4f1ec;
    background-image: none;
  }
}