.user-header {
    display: flex;
    height: 800px;
    width: 100%;
    background-color: #54b0b3;
    background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
  display: flex;
  align-items: center;
}

.tweeted-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

@media screen and (min-width: 1024px) {
  .user-header {
    background-color: #f4f1ec;
    background-image: none;
  }
}