/*
Style nav bar and elements inside it. Fixes it at z-index: 100 to make it always appear on top of everything else
*/
nav {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
  background-color: #54b0b3;
  background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
  color: #FFFFFF;
  /* 120px for height is needlessly big and does not look as good as 60px. I opted for the latter */
  height: 60px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  z-index: 100;
 }

/*
Style website logo
*/
span {
  font-family: Bungee;
  line-height: 60px;
}

/*
Style text at the right of the nav bar
*/
a {
  display: flex;
  font-family: Source Sans Pro;
  flex-direction: column;
  justify-content: flex-end;
}

/*
Style icon at the right of the nav bar
*/
.icon {
  color:red;
  margin: 0;
}

/*
Center icon at the bottom of the text at the right of the nav bar
*/
.icon-container {
  display: flex;
  justify-content: center;
}

/*
Style nav bar to have its own colour when on computer screens above 1024px
*/
@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }

}